* {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    background-color: black;
    gap: 5px;
    border-radius: 3%;
}

.display {
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.button-interface {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.interface-left {
    display: flex;
    flex-direction: column;
    width: 130px;
    gap: 5px;
}

.clear button {
    background-color: #bdbdbf;
}

.digits {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.digits button {
    background-color: #959595;
    color: white;
}

.interface-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.operators {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.operators button,
.equals button {
    background-color: #ffab00;
    color: white;
}

button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}